<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabby - Login To Get Sync Token</title>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.svg">
</head>
<body>

<div class="container success-container">
  <h1>Your token is</h1>
  <div class="token-display" id="tokenDisplay">{{ token }}</div>
  <button class="btn copy-btn" onclick="copyToken()">Copy</button>
</div>

<script src="static/script.js"></script>

</body>
</html>
